* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: white;
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-box {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-box::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/230321225342-01-japan-baseball-world-classic-win-032123.jpg') no-repeat center center / cover;
  filter: brightness(50%);
  z-index: 0;
}

.hero-box > * {
  position: relative;
  z-index: 1;
}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  position: absolute;
  display: flex;
  align-items: center;
  background: #111;
  color: white;
  padding: 30px 50px;
  gap: 10px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  z-index: 1;

}

.navbar-logo img{
    padding-top: 20px;
    height: 80px;
    width: auto;
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  margin-top: 10px;
  background: rgba(107, 105, 105, 0.5);
  z-index: 0;
}

.nav-links {
  display: flex;
  gap: 100px;
  justify-content: flex-end;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}


nav .nav-links .buy {
  background: rgba(44, 44, 43, 0.8);
  padding: 12px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 60px;
  max-width: 500px;
  color: white;
  padding-bottom: 10px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons .btn {
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.btn.watch {
  background: #2979ff;
  color: white;
}

.btn.get {
  background: #00c853;
  color: white;
}

.countdown {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 30px 60px;
  color: white;
}

.teams{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}

.teams img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.team{
    display: flex;
    flex-direction: column;            
    align-items: center;
    gap: 8px;

}
.teams span{
    margin-right:15px;
}

.event-info {
  text-align: start;
  font-size: 20px;
}

.timer {
  display: flex;
  gap: 50px;
}

.timer div {
  text-align: center;
  padding: 0 20px;
}


.timer div:not(:first-child) {
  border-left: 2px solid #555;
}

.timer strong {
  font-size: 40px;
  display: flex;
}

.btn.buy {
  background: #00c853;
  color: white;
  padding: 30px 60px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
